* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin-top: 13%; 
  /* background-color:rgb(118, 192, 253); */
  background-image: url('../public/assets/spider\ man.jpg');
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 40px;
  color: rgb(211, 209, 209);
}