* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0; /* Remove a margem para garantir que a imagem preencha toda a tela */
  background-image: url('../public/assets/spider man.jpg');
  background-size: cover; /* Faz a imagem cobrir toda a tela */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-position: center center; /* Centraliza a imagem na tela */
  background-attachment: fixed; /* Fixa a imagem no fundo, mesmo quando rolar a página */
  height: 100vh; /* Garante que o corpo tenha a altura da tela */
}

h2 {
  margin-top: 8%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 40px;
  color: rgb(211, 209, 209);
}